<div class="card mt-2 col-md-6 col-lg-4">
	<img 
		src="<%= post.image.thumb.url %>"
		class="card-img-top mx-auto"
		style="max-height: 200px;"
		alt="post.title"
		loading="lazy"
	>
	<div class="card-body">
		<a class="card-title" href="<%= post_path(post) %>"><%= truncate(post.title, length: 20) %></a>
		<p class="card-text"><%= truncate(post.body, length: 150) %></p>
	</div>
</div>