<div class="container mx-auto bg-light">
	<h1>Posts</h1>
	<div class="sticky-top my-3 bg-light w-100 py-2">
		<a class="btn btn-success" href="<%= new_post_path %>" role="button">Add post</a>
	</div>

	<div class="row px-4">
		<%= render @posts %>
	</div>
</div>
