<div class="container">    
    <%= link_to 'All posts', posts_path %>
    <h1><%= @post.title %></h1>

    <div class="card mx-auto">
        <img
            class="mx-auto"
            src="<%= @post.image.url %>"
            style="max-height: 600px; max-width: 600px;"
        >

        <div class="card-body">
            <p><%= @post.body %></p>
        </div>
    </div>
    <div class="row fixed-bottom">
        <%= link_to('Edit', edit_post_path(@post), class: "btn btn-success col") %>
        <%= link_to('Destroy', post_path(@post),method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger col") %>
    </div> 
</div>